#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.balances-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overall-balances, .personal-balance-section {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}